@import "tailwindcss";
/* Hide scrollbars across the entire app */
::-webkit-scrollbar {
  display: none;
}

html,
body {
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For IE and Edge */
  overflow-y: scroll; /* keeps scroll functionality */
}

body {
  background-color: #0a0a0a; /* match dark theme */
  color: #f5f5f5;
}
